{% extends 'base.html' %}

{% block content %}

<h1 class="mb-4">

    Add Note

</h1>

<form method="POST">

    {% csrf_token %}

    <input type="text"
           name="title"
           class="form-control mb-3"
           placeholder="Enter title">


    <textarea name="content"
              class="form-control mb-3"
              placeholder="Enter content"></textarea>


    <select name="category"
            class="form-control mb-3">

        {% for category in categories %}

        <option value="{{ category.id }}">

            {{ category.name }}

        </option>

        {% endfor %}

    </select>


    <button type="submit"
            class="btn btn-success">

        Save Note

    </button>

</form>

{% endblock %}